# Send only the files used by the Flatland image to Docker.
*
!Dockerfile
!docker-entrypoint.sh
!tests/
!tests/**
!flatland/
!flatland/**
!flatland_msgs/
!flatland_msgs/**
!flatland_plugins/
!flatland_plugins/**
!flatland_server/
!flatland_server/**
!flatland_viz/
!flatland_viz/**
**/__pycache__/
**/*.pyc
**/build/
**/install/
**/log/
